header {
	background-color: var(--background-tertiary-color);
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 48px;
	padding-block: 38px;
}
a.logo {
	display: inline-block;
	width: 68px;
	height: 64px;
}

nav.menu-navbar {
	display: none;
}

input.menu-open-input:checked ~ nav.menu-navbar {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: var(--background-tertiary-color);
}

.list-links {
	list-style: none;
	padding-inline: 48px;
	padding-block: 16px;
}

.list-links li {
	margin-block: 16px;
}

.list-links li a {
	text-decoration: none;
	color: var(--text-secondary-color);
}
