header {
	background-color: var(--background-tertiary-color);
	width: 100%;
	height: 138px;
}

a.logo {
	display: inline-block;
	width: 68px;
	height: 64px;
}

div.main-area {
	padding-inline: 48px;
}
