header {
	background-color: var(--background-tertiary-color);
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 48px;
	padding-block: 38px;
}
a.logo {
	display: inline-block;
	width: 68px;
	height: 64px;
}

.img-mobile {
	display: block;
}

.img-desktop {
	display: none;
}

nav.menu-navbar {
	display: none;
}

input.menu-open-input:checked ~ nav.menu-navbar {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: var(--background-tertiary-color);
}

.list-links {
	list-style: none;
	padding-inline: 48px;
	padding-block: 16px;
}

.list-links li {
	margin-block: 16px;
}

.list-links li a {
	text-decoration: none;
	color: var(--text-secondary-color);
	font-weight: var(--navbar-text-font-weight);
	font-size: 24px;
	transition: color 0.15s;
}

.list-links li a:hover {
	color: var(--primary-color);
}
@media screen and (min-width: 768px) {
	.manu-area {
		margin-top: 0;
	}
	.menu-area label {
		display: none;
	}
	nav.menu-navbar {
		display: block;
	}
	ul.list-links {
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 467px;
	}
	ul.list-links li {
		margin: 0;
	}
}

@media screen and (min-width: 1024px) {
	a.logo {
		width: 260px;
		height: 64px;
	}
	.img-mobile {
		display: none;
	}
	.img-desktop {
		display: block;
	}
	header {
		padding-inline: 120px;
	}
}

@media screen and (min-width: 1920px) {
	header {
		padding-inline: 160px;
	}
}
